@charset "utf-8";
@import "compass";
@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */

$ja_font : "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$back_color : #f9f8f6;
$font_base_color : #524c3e;
$font_sub_color : #887f69;
$detail_head_color:#e8e4da;
$font_black_color : #000;

html {
font-size: 62.5%;
background: $back_color;
}

body{
  font-size: 1.3rem;
  font-family:$ja_font;
  line-height:1.6;
  margin:0;
  @media (max-width: 550px) {
    margin:0 10px;
  }
}

@mixin fontsize($size: 24, $base: 10) {
font-size: $size + px;
font-size: ($size / $base) * 1rem;
}
a{
  color:#222;
  text-decoration: none;
&:hover{
  color:#222;
}
}

h2{
  color:$font_sub_color;
  font-size: 1.8rem;
  font-weight:bold;
  
}
h3{
  color:$font_sub_color;
  font-size: 1.3rem;
  font-weight:bold;
  margin:10px 0;
}

header{
    color:$font_base_color;
    
  @media (max-width: 550px) {

    .logo{
      width: 190px;
    }

    .navi{
      width:40px;
      float: right;
    }
    
    .sp_navi{
      text-align:center;
      margin:10px 0;
    }
    #header_in{
      padding: 10px 0 10px 0;
    }
    h1{
      margin:0;
    }
    .sp_facebook_btn{
      margin-right:10px;
    }
    .sp_insta_btn{
      margin-right:10px;
    }
  }

  .sp_navi_li{
    width: 180px;
    position: absolute;
    top:85px;
    right:2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding:0;
    display: none;
    z-index: 100;

    li{

      list-style: none;
      margin: 0;
      padding:0;

      a{
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
        color:$font_sub_color;
      }
    }
  }

  @media (min-width: 550px) {

    .sp_navi{
      display: none;
    }

    #header_in{
      padding: 40px 0 10px 0;
    }
    .pc_navi{
      text-align: left;
    }
    .pc_navi_li{
      margin-top:30px;
      padding:0;

      li{
        list-style:none;
        margin: 5px 0 0 0;
        padding: 0;

        a{
          color: #626262;
          text-decoration: none;
          font-weight: bold;
          @include fontsize(14);
          float: left;
          padding-right: 20px;
        }

        a:hover{
          color: $font_sub_color;
        }
        
        img{
          float: left;
          .navi_facebook_btn {
            
          }
        }
      }
      // li

    }
    // .pc_navi_li

  }
  // min-width: 550px

  @media (max-width: 550px) {

    .pc_navi{
      display: none;
    }

  }

  // min-width: 550px
}
// header

#main {
  position:relative;
  max-width: 960px;
  margin: 0 auto;
  .head_img{
    width:100%;
  }
  @media (min-width: 550px) {
    .area_title{
      padding: 30px 0;
      img{
        display: block; //ブロック要素化
        margin:  auto;
      }
    }
    .products{
      margin-bottom:20px;
    }
    .sp_area_title{
      display:none;
    }
    .head_img_area_sp{
      display:none;
    }
  }
  @media (max-width: 550px) {
    .head_img_area{
      display:none;
    }
    .area_title{
      display:none;
    }
      .sp_area_title{
      padding: 30px 0;
      img{
        display: block; //ブロック要素化
        margin:  auto;
      }
    }
  }
  .contents_area{
  
    @media (max-width: 550px) {
       .item_area ul{
        margin-bottom: 0px;
        width: 100%; 
          li {
          margin:0;
          border:solid 1px $back_color;
          background-color:#fff;
          display: block;
          float: left;
          width: (80% / 2);
          padding:15px;
          }
          &:after {
          content: '';
          display: block;
          clear: both;
          }
          img{
            width:100%;
          }
        }
    }
    @media (min-width: 550px) {
      .item_area ul{
        margin-bottom: 0px;
        width: 100%; 
          li {
          margin:0;
          border:solid 1px $back_color;
          background-color:#fff;
          display: block;
          float: left;
          width: (86% / 3);
          padding:15px;
          }
          &:after {
          content: '';
          display: block;
          clear: both;
          }
          img{
            width:100%;
          }
        }
      }
      .item_title{
        margin: 0px;
        font-weight:bold;
        word-break: break-all;
      }
      .money{
        letter-spacing:0px;
        margin: 10px 0 0 0;
        word-break: break-all;
      }
    }
    #shopping_gude{
      .contents_area{
        width: 100%;
        @media (max-width: 550px) {
            .contact_area{
            height:100%;
            margin-bottom: 5px;
            background-color:#fff;
            
            padding:20px;
            p{
              margin:0px;
            }
          }
        }
        @media (min-width: 550px) {
          height:240px;
        .contact_area{
          height:100%;
          margin-bottom: 0px;
          margin: 2px;
          background-color:#fff;
          display: block;
          float: left;
          width: (87% / 2);
          padding:20px;
          p{
            margin:0px;
          }
        }
        &:after {
          content: '';
          display: block;
          clear: both;
          margin-bottom:30px;
          }
        }
      }
    }
  #detail_arae{
    background-color:#fff;
    .area_title{
      padding: 40px 65px 0px 65px;
    }
    
    h2{
      font-weight:bold;
      color:$font_black_color;
    }

    .contents_area{
       @media (min-width: 550px) {
      padding: 0 65px;
       }
      .img_area{
        padding-top:30px;
        .main_img{
          margin-right:5px;
          float:left;
          img{
            width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
          }
          @media (max-width: 550px) {
            img{
            width:375px;
            }
          }
        }
        .sub_img{
          img{
            padding:0px 2px 2px 2px;
            @media (min-width: 550px) {
              width: 76px;
            }
            @media (max-width: 550px) {
              width: 64px;
            }
          }
        }
      }
      .color_size{
        @media (min-width: 550px) {
          margin-top:30px;
          padding-top:10px;
        }
        @media (max-width: 550px) {
          padding-top:20px;
        }
      }
    }
    .top_line_brown{
      border-top:solid 1px $detail_head_color;
    }
    .bottom_line_brown{
      border-bottom:solid 1px $detail_head_color;
    }
    .bottom_line_dark_brown{
      border-bottom:solid 1px $font_sub_color;
    }
    .price{
      padding:20px 0;
      width:100%;
      @media (min-width: 550px) {
        width:57%;
        float:left;
        margin-right:20px;
        display:inline;
      }
      .price_font{
        color:#f13939;
        font-size: 2.0rem;
        font-style:oblique;
      }
    }
    @media (min-width: 550px) {
      .add_to_cart_pc:after {
        content: '';
        display: block;
        clear: both;
      }
      .add_to_cart_sp{
        display:none;
      }
    }
    @media (max-width: 550px) {
      .add_to_cart_pc{
        display:none;
      }
      .add_to_cart_sp{
        text-align:center;
        margin-top:20px;
      }
    }
    .quantity{
      padding:15px 0;
    }
    .sub_title_width{
     width:(100%/4);
     float:left;
      img{
       vertical-align:bottom;
      }
    }
    .quantity_input{
      margin-bottom:0;
      border-radius: 0px;
    }
    .detail_title{
      padding:30px 0 10px 0;
      h2{
        color: #887f69;
        font-size: 1.8rem;
        font-weight: bold;
        margin:0;
      }
    }
    .detail_explan{
      padding-bottom:30px;
      h2{
        color: #887f69;
        font-size: 1.8rem;
        font-weight: bold;
        margin:0;
        padding:20px 0;
      }
      table{
        table-layout: fixed;
      }
      .colspan{
        width:calc(100% / 3);
      }
      @media (max-width: 550px) {
      .colspan2{
        text-align:left;
      }
      }
    }
  }
  .head_menu{
    background-color:$detail_head_color;
    padding:10px;
    margin-bottom:10px;
  }
 .button_area{
  padding-top: 20px;
 }
 .square_btn{
    background-color:$font_sub_color;
    color: $back_color;
    text-decoration: none;
    text-transform:none;
  }
  button{
    margin-bottom:0;
    border-radius: 0;
  }
 	.btnLeft{
	    text-align: left;
	    float: left;
	}
	.btnRight{
    	text-align: right;
	}
	 table{
      margin-top:20px;
      width:100%;
      text-align:center;
      table-layout: fixed;
    }
    th{
      background-color:$back_color;
      border: 1px solid #E1E1E1;
      text-align: center;
    }
    td{
      border: 1px solid #E1E1E1;
      text-align: center;
      vertical-align:middle;
      
      .checkbox01-input{
        display: none;
      }
      .checkbox01-parts{
        position:relative;
        margin-right: 20px;
      }
      .checkbox01-parts::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #E1E1E1;
      }
      .checkbox01-input:checked + .checkbox01-parts{
        color: #009a9a;
      }
      .checkbox01-input:checked + .checkbox01-parts::after{
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: rotate(40deg);
        border-bottom: 3px solid $font_sub_color;
        border-right: 3px solid $font_sub_color;
      }
      
    }
    td:first-child{
      background-color:$back_color;
    }
}

/*side_menu
--------------------------------------------*/
#pc_sidemenu{
  width:100%;
  @media (max-width: 550px) {
    #item_search{
      margin:10px 0 15px 0;
      background-color:#fff;
      padding:20px;
    }
  }
  @media (min-width: 550px) {
    #item_search{
      background-color:#fff;
      padding:20px;
    }
  }
  #search_box{
    margin-top:5px;
    width:100%;
    vertical-align:middle;
    @media (max-width: 550px) {
      #search{
      margin:0;
      width:90%;
      background-repeat: no-repeat;
      background-color:#eeeeee;
      border:none;
      border-radius:0;
      float:left;
      }
    }
    @media (min-width: 550px) {
      #search{
      margin:0;
      width:80%;
      background-repeat: no-repeat;
      background-color:#eeeeee;
      border:none;
      border-radius:0;
      float:left;
      }
    }
    #search_button{
      margin:0;
      padding:9px 9px 9px 0 ;
      width:20px;
      background-color:#eeeeee;
      border:none;
      border-radius:0;
    }
  }
  
  #page_link{
    color:#fff;
    margin-top:10px;
    background-color:$font_sub_color;
    padding:15px 20px;
  }
  
  #category{
    color:#fff;
    margin-top:10px;
    .parent_category{
    background-color:$font_sub_color;
    padding:15px 20px;
    }
    .child_category{
    background-color:#fff;
    color:$font_black_color;
    padding:15px 20px;
    border-bottom:solid 1px $back_color;
    border-top:solid 1px $back_color;
    }
  }
  
  #about{
    color:#fff;
    margin-top:10px;
    .parent_about{
    background-color:$font_sub_color;
    padding:15px 20px;
    }
    .child_about{
    background-color:#fff;
    color:$font_black_color;
    padding:10px;
    }
  }
    
  #shop_info{
    color:#fff;
    margin-top:10px;
    .parent_shop_info{
    background-color:$font_sub_color;
    padding:15px 20px;
    }
    .child_shop_info{
    background-color:#fff;
    color:$font_black_color;
    padding:15px 10px;
    }
  }
  
  .link_text{
    width:100%;
  }
  .next_icon{
    text-align:right;
  }
  .float_left{
    float: left;
  }
  .text_align_right{
    text-align:right;
  }
  .item_title{
    margin: 0px;
    font-weight:bold;
    word-break: break-all;
  }
  .more_bottun{
    text-align: center;
    margin-top:15px;
  }
  .sp_item_title{
    margin: 0px;
    font-weight:bold;
    word-break: break-all;
  }
  @media (max-width: 550px) {
    .sp_image{
      float:left;
      width:50%;
      margin-right:10px;
      img{
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
      }
    }&:after {
      content: '';
      display: block;
      clear: both;
      margin-bottom:30px;
    }
  
    .item_title{
      display:none;
    }
    .more_bottun{
      text-align: left;
    }
  }
  @media (min-width: 550px) {
    .sp_item_title{
      display:none;
    }
  }
}

/* footer
--------------------------------------------*/
footer{
  @media (min-width: 550px) {
    margin-top: 50px;
    .page_top{
      text-align: right;
      border-bottom:solid 1px $font_sub_color;
    }
    .sp_page_top{
      display:none;
    }
  }
  @media (max-width: 550px) {
    #sp_page_top_img{
      img{
      margin-bottom: 20px;
      }
    }
    .sp_page_top{
      text-align: center;
      border-bottom:solid 1px $font_sub_color;
    }
    .page_top{
      display:none;
    }
  }
  .footer_menu{
    margin-top: 50px;
    ul{
      text-align: center;
      @media (min-width: 550px) {
        li{
        display: inline-block;
        list-style: none;
        margin: 0;
        padding:0;
        padding-right: 20px;
        vertical-align:middle;
        }
      }
      @media (max-width: 550px) {
        li{
        display: inline-block;
        list-style: none;
        margin: 0;
        padding:0;
        padding-right: 5px;
        vertical-align:middle;
        }
      }
    
      a{
        color: #626262;
        text-decoration: none;
        font-weight: bold;
        @include fontsize(14);
        float: left;
      }
        &:hover{
          color: $font_sub_color;
        }
    }
    &:after{
        content: '';
        display: block;
        clear: both;
    }
  }
  .copy_right{
    text-align:center;
    margin-bottom:20px;
  }
}